<h3 class="cash-balance">Cash balance: {{ cash$ | async | currency }}</h3>

<article
  *ngFor="let holding of holdings$ | async"
  [style.--theme-color]="holding.commodity.colour"
  class="holding"
>
  <h3>
    {{ holding.commodity.name }}
    <span class="expander"></span>
    <button
      type="button"
      class="button sell"
      [disabled]="!holding.holding"
      (click)="sellOutPosition(holding.commodity)"
    >
      Sell all
    </button>
  </h3>
  <div class="metric"><small>Shares</small>{{ holding.holding | number }}</div>
  <div class="metric"><small>Value</small>{{ holding.value | currency }}</div>
</article>

<p class="no-holdings" *ngIf="hasNoHoldings$ | async">You don't have any holdings - go buy some commodities!</p>
