<h3>Cash balance: {{ cash$ | async | currency }}</h3>

<article
  *ngFor="let holding of holdings$ | async"
  [style.--theme-color]="holding.commodity.colour"
>
  <h3 class="holding">{{ holding.commodity.name }}</h3>
  <p>
    <span>{{ holding.holding | number }}</span>
    <span>{{ holding.value | currency }}</span>
  </p>
  <button
    type="button"
    class="button sell"
    [disabled]="!holding.holding"
    (click)="sellOutPosition(holding.commodity)"
  >
    Sell all
  </button>
</article>
