@use "../../../styles/material-color" as mc;
@use "../../../styles/screen-size" as ss;

:host {
  padding: 0.5rem 0 0;
  display: grid;

  --cols: 2;

  @include ss.large-screen {
    --cols: 4;
  }

  grid-template-columns: repeat(var(--cols), minmax(auto, auto));
  align-items: center;
}

hr {
  grid-column-start: 1;
  grid-column-end: calc(var(--cols) + 1);
  border: none;
  border-top: 1px solid mc.material-color(blue-grey, 900);
  height: 1px;
  width: 100%;
}

span {
  padding: 0.5rem 1rem;
}

.input {
  appearance: none;
  color: inherit;
  background: mc.material-color(blue-grey, 900);
  border: 1px solid;
  font-family: inherit;
  padding: 0.5rem 1rem;
  text-align: right;
  width: 4rem;

  &.buy {
    border-color: mc.material-color(green, A400);
  }

  &.sell {
    border-color: mc.material-color(red, A400);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
