.layout-grid {
  display:grid;
  grid-template-columns: 1fr 2fr;
}

.commodities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: auto;
  gap: 1rem;
}
