<h3 class="date">{{ date$ | async | periodDate | date : 'medium' }}</h3>
<div class="layout-grid">
  <h2 class="total-center grey-bg gap-r">Current holdings</h2>
  <div class="holdings gap-r">
    <xmas-commodities-holdings></xmas-commodities-holdings>
  </div>
  <h2 class="total-center grey-bg">
    Available commodities
  </h2>
  <div class="commodities-grid">
    <xmas-commodities-commodity
      *ngFor="let commodity of commodities$ | async; trackBy: trackById"
      [commodity]="commodity"
    >
    </xmas-commodities-commodity>
  </div>
</div>
