@use "styles/material-color" as mc;

$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$monospace-font-stack: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
  Courier, monospace;

* {
  box-sizing: border-box;
}

body {
  background: mc.material-color(blue-grey, 900);
  color: mc.material-color(grey, 50);

  font-family: $monospace-font-stack;
  font-size: 16px;
  margin: 0;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  text-align: center;
  margin: 0 0 1rem;
}

:root {
  --theme-color: #fff;
}

.button {
  appearance: none;
  border: none;
  color: inherit;
  background: transparent;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  width: 4rem;

  transition: opacity 0.2s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &.buy {
    background: mc.material-color(green, A700);
  }

  &.sell {
    background: mc.material-color(red, A700);
  }
}

.positive-text {
  color: mc.material-color(green, A700);
}

.negative-text {
  color: mc.material-color(red, A700);
}

.text-center {
  text-align: center;
}

a.button {
  text-decoration: none;
}

.article {
  max-width: 780px;

  ul {
    margin-left: 1rem;
    padding: 0 2rem;
  }

  p,
  li {
    line-height: 1.4;
    margin: 0 0 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid mc.material-color(grey, 500);
    height: 1px;
    width: 100%;
    margin: 1.5rem 0;
  }
}
